*
{
    /* max-width: 1200px; */
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
h2
{
    text-align: center;
    border: 8px double black;
    color: black;
    background-color: #fff;
}
.man i
{
    color: aqua;
    margin-left: 40px;
    padding: 5px;
    border: 3px solid aqua;
}
.man
{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 5px solid white;
}
h3  
{
    color:white;
}
h1
{
    color: #fff;
}
p
{
    width: 99%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-align: center;
    justify-content: center;
    color: #fff;
}
.para
{
    width: 100%;
    text-align: center;
}
body
{
    scroll-behavior: smooth;
    background-color:black;
    height: 100%;
    text-align: center;
    color: white;
}
.icon
{
    padding-top: 10px;
    border-top: 5px solid #fff;
}
.stomach
{
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
    background-size: cover;
}
.box
{
    height: 100%;
    width: 150px;
    background-color: #fff;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    border:3px solid black; 
    margin-left: 10px;
}
.box img
{
    width: 100%;
    height: 140px;
}
.box a
{
    padding: 10px;
}